@import url(../../styles/root.css);

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
/* div.swiper-pagination {
  bottom: -10px;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section {
  /* width: 1440px; */
  /* margin-right: auto;
  margin-left: auto; */
  width: 100%;

  color: var(--white-color);
  background-image: linear-gradient(
      var(--hero-backgroundd-color),
      var(--hero-backgroundd-color)
    ),
    url("../../images/people-office-428@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dark-color);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url("../../images/people-office-428@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url("../../images/people-office-768@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url("../../images/people-office-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url("../../images/people-office-1440@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url("../../images/people-office-1440@2x.jpg");
  }
}

.hero-container {
  /* padding-top: 188px;
  padding-bottom: 188px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  width: 80%;
  height: 120px;
  margin-bottom: 48px;
}
.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  transition: background-color var(--transition-250);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
@media screen and (max-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    margin-bottom: 52px;

    /* width: 320px;
    height: 80px; */

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 108px;
  }
  .hero-title {
    margin-bottom: 40px;

    /* width: 496px; */
    /* height: 120px; */

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;

    /* width: 496px;
    height: 120px; */

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
    letter-spacing: 0.02em;
  }
}
