:root {
  --primary-brand-color: rgb(150, 149, 145);
  --pressed-state-color: rgb(132, 131, 127);
  --dark-color: rgba(46, 47, 66, 1);
  --success-color: rgba(49, 208, 170, 1);
  --text-color: rgba(67, 68, 85, 1);
  --subtle-text-color: rgba(142, 143, 153, 1);
  --accent-color: rgba(109, 92, 90, 0.185);
  --light-color: rgba(244, 244, 253, 1);
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-backgroundd-color: rgba(46, 47, 66, 0.7);
  --transition-250: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --white-color: rgb(255, 255, 255);
  --primary-animation-duration: 200ms;
  --color-modal-background: rgb(179, 175, 167);
  --color-accent-primary: rgb(152, 143, 143);
  --color-gray-pale-alpha050: rgba(5, 5, 5, 0.579);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent-primary);
  border-radius: 100px;
}

.buy-section {
  display: flex;
  justify-content: space-around;
  /* gap: 50px; */
  margin-top: 50px;
}
@media screen and (max-width: 765px) {
  .buy-section {
    flex-direction: column;
    align-items: center;
  }
}
.logo-icon {
  width: 90px;
}
.logo:hover .logo-icon,
.logo:focus .logo-icon {
  fill: var(--pressed-state-color);
}

.cart-icon-info {
  width: 14px;
  height: 14px;
  background-color: var(--color-accent-primary);
  border-radius: 100px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 10px;
  position: relative;
  bottom: 22px;
  left: 13px;
}

.cart-icon {
  width: 24px;
  height: 24px;
  transition: color var(--transition-250);
  vertical-align: middle;
  position: relative;
  top: 5px;
}
.cart-icon:hover,
.cart-icon:focus {
  align-self: center;
  color: var(--pressed-state-color);
}
.main-title {
  margin-top: 45px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.prod-img {
  max-width: 255;
  max-height: 255;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* BODY */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BODY */
#productList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.glide__bullet {
  background-color: green;
  color: aqua;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
* {
  padding-left: 0;
  /* transition-property: color, background-color, box-shadow, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
*,
html {
  scroll-behavior: smooth;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
ul,
a {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  transition: 0.5s;
  outline: none !important;
}
header {
  border-bottom: 1px solid var(--accent-color);
}

.animate {
  -webkit-animation: animatezoom var(--primary-animation-duration) forwards;
  animation: animatezoom var(--primary-animation-duration) forwards;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-reverse {
  -webkit-animation: animatezoom-reverse var(--primary-animation-duration)
    forwards;
  animation: animatezoom-reverse var(--primary-animation-duration) forwards;
}

@-webkit-keyframes animatezoom-reverse {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
  }
}

@keyframes animatezoom-reverse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/*ADDITIONAL*/
#roll_back {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--color-modal-background);
  /* background-color: #161616; */
  border-radius: 100%;
  border: 3px solid var(--color-accent-primary);
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 3; */
  color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 28px;
  /* opacity: 0.8; */
  z-index: 5;
  transition: color var(--transition-250);
  width: 50px;
  height: 50px;
}

#roll_back:hover {
  opacity: 1;
  scale: 1.1;
}
#roll_back:focus:hover {
  background-color: var(--pressed-state-color);
}
#roll_back:focus:hover .arrow-up {
  color: var(--color-modal-background);
}
.arrow-up {
  transition: color var(--transition-250);
  position: absolute;
  transform: translateX(0%) translateY(8%);
  stroke: currentColor;
  color: var(--color-accent-primary);
  text-align: center;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* HEADER */
.container {
  box-sizing: border-box;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .navigation-link {
    padding-top: 24px;
    padding-bottom: 22px;
  }
  /* .navigation > .logo {
    padding-top: 24px;
    padding-bottom: 22px;
  } */
}
@media screen and (min-width: 768px) {
  .adress-list {
    padding-top: 23px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation-link {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
  }
}

@media screen and (min-width: 1200px) {
  .adress-item:not(:last-child) {
    margin-right: 40px;
  }
  .adress-item {
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .adress-list {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
  }
  .navigation-link {
    padding-top: 24px;
    padding-bottom: 28px;

    position: relative;
  }
  .adress-link {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  margin-left: 76px;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.navigation-link {
  position: relative;
}

.navigation-link:not(:last-child) {
  margin-right: 40px;
}

.adress-list {
  display: flex;
  align-items: center;
}

.link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color var(--transition-250);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--pressed-state-color);
}

.current-page::after {
  content: '';
  color: var(--pressed-state-color);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: var(--pressed-state-color);
  border-radius: 2px;
}
.current-page {
  color: var(--pressed-state-color);
}
.navigation > .logo {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33; /* 24/18 */
  text-decoration: none;
  color: var(--dark-color);
}
.logo-first-part {
  color: var(--primary-brand-color);
}

.adress-link {
  color: var(--text-color);
  transition: color var(--transition-250);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--primary-brand-color);
}

/* Mobile menu */
/* @media screen and (max-width: 440px) {
  .mobile-menu {
    width: 440px;
    transform: scale(0.75) translate(-15%, -15%);
  }
}
@media screen and (max-width: 375px) {
  .mobile-menu {
    width: 440px;
    transform: scale(0.65) translate(-25%, -25%);
  }
} */

@media screen and (max-width: 767px) {
  .navigation-list,
  .adress-item {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .navigation-list,
  .adress-item {
    display: none;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .navigation-list,
  .adress-item {
    display: flex;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 550ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  /* position: absolute; */
  top: 16px;
  right: 16px;
  /* color: var(--white-color); */
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  /* padding-right: 51px; */
  padding-top: 100px;
  position: relative;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--dark-color);
  transition: color var(--transition-250);
}
/* .nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
} */

.mobile-navigation-link:last-child .nav-link {
  color: var(--pressed-state-color);
}

.mobile-navigation {
  margin-bottom: 84px;
}
.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-adress-link {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  height: 36px;
}
/* .mobile-adress-link:hover,
.mobile-adress-link:focus {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--primary-brand-color);
} */

.mobile-adress-item:first-child .mobile-adress-link {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}

.mobile-social-list-box {
  width: 328px;
  height: 40px;
  margin-right: 80px;
}
.mobile-social-list {
  margin-top: 48px;
  display: flex;
  gap: 56px;
  justify-content: center;
}

.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-250);
  background-color: var(--primary-brand-color);
}
.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  background-color: var(--pressed-state-color);
}
.mobile-social-list-icon {
  width: 44px;
  height: 44px;
  fill: var(--light-color);
}
.mobile-close-btn {
  width: 24px;
  height: 24px;
  background-color: var(--primary-brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-250);
  position: absolute;
  right: 0%;
}
.mobile-close-btn-icon {
  width: 48px;
  height: 48px;
  transition: background-color var(--transition-250);
  fill: var(--white-color);
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: var(--pressed-state-color);
  border-color: transparent;
  cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus .mobile-close-btn-icon {
  fill: var(--color-gray-pale-alpha050);
}
.mobile-menu-button {
  width: 24px;
  height: 24px;
  fill: #000;
}
.mobile-close-btn {
  z-index: 1;
}
/* FOTER */
footer {
  margin-top: 50px;
}
.swiper-pagination {
  position: relative;
  transform: translateY(20px);
}
@media screen and (max-width: 767px), screen and (min-width: 767px) {
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-social-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .subscribe-item {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .email-label {
    margin: 0;
  }
  .email-input {
    /* max-width: 398px; */
    height: 40px;
  }
}
@media screen and (max-width: 440px) {
  .email-input {
    width: 258px;
  }
}
@media screen and (min-width: 768px) {
  .footer-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 108px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-social-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .subscribe-item {
    margin-right: 0;
    margin-left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }
  .email-input {
    width: 264px;
    height: 40px;
  }
  .email-label {
    margin-right: 24px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
  }
  .footer-container {
    width: 264px;
    height: 110px;
    margin-right: 120px;
  }
  .footer-social-list-box {
    width: 208px;
    margin-right: 80px;
  }
}
.footer {
  background-color: rgb(50, 55, 55);
  color: #e5e5e5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container > .logo {
  fill: var(--light-color);
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}
.footer-container > .logo > .logo-icon {
  width: 200px;
}
.footer-text {
  margin-top: 16px;
  width: 264px;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
}
.footer-container {
  width: 264px;
  height: 110px;
}

.footer-social-list-box {
  width: 208px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
}
.footer-contain-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-250);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--pressed-state-color);
}
.footer-social-list-icon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}
/* ///////////////////////Menu-Container */
.subscribe-form {
  display: flex;
}
.email-label {
  box-sizing: border-box;
}
.email-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 10px;
  color: var(--white-color);
  outline: none;
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  margin: 0;

  width: 165px;
  height: 40px;

  background-color: var(--primary-brand-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-250);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--white-color);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state-color);
}
.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

/* MAIN PAGE*/
/* Hero page */
.hero-section {
  /* width: 1440px; */
  margin-right: auto;
  margin-left: auto;
  color: var(--white-color);
}
.bg-img-1 {
  background-image: linear-gradient(
      var(--hero-backgroundd-color),
      var(--hero-backgroundd-color)
    ),
    url('../project-folder/images/photo_2023-11-28_09-57-32.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dark-color);
}
.bg-img-2 {
  background-image: linear-gradient(
      var(--hero-backgroundd-color),
      var(--hero-backgroundd-color)
    ),
    url('../project-folder/images/photo_2023-11-28_09-57-43.jpg');
}

/* @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url('../images/people-office-428@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url('../images/people-office-768@1x.jpg');
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url('../images/people-office-768@2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url('../images/people-office-1440@1x.jpg');
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        var(--hero-backgroundd-color),
        var(--hero-backgroundd-color)
      ),
      url('../images/people-office-1440@2x.jpg');
  }
} */

.hero-container {
  /* padding-top: 188px;
  padding-bottom: 188px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  width: 496px;
  /* height: 120px; */
  /* margin-bottom: 48px; */
}
.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  transition: background-color var(--transition-250);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
@media screen and (max-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    /* margin-bottom: 72px; */

    width: 320px;
    /* height: 80px; */

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 108px;
  }
  .hero-title {
    /* margin-bottom: 40px; */

    width: 496px;
    /* height: 120px; */

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    /* margin-bottom: 48px; */

    width: 496px;
    /* height: 120px; */

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
    letter-spacing: 0.02em;
  }
}

/* <!-- Features --> */
@media screen and (max-width: 440px) {
  .advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }
  .advantages-item-title {
    margin-right: 0;
    margin-left: 0;
  }
  .advantages-item-text {
    max-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .advantages-item {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    max-width: 396px;
  }
  .advantages-icon-wrapper {
    display: none;
  }

  .advantages-item-title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 8px;
  }
  .advantages-item-text {
    color: var(--text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .advantages-icon-wrapper {
    display: none;
  }
  .advantages-item {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 356px;
  }

  .advantages-item-title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
  }
  .advantages-item-text {
    color: var(--text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .advantages-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 264px;
  }
  .advantages-icon-wrapper {
    display: flex;
    background-color: var(--light-color);
    border-radius: 4px;
    padding: 24px 100px;
  }
  .advantages-item-icon {
    width: 64px;
    height: 64px;
  }
  .advantages-item-title {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .advantages-item-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
  }
}
/* what-are-we-doing */
@media screen and (max-width: 1200px) {
  .what-are-we-doing-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .what-are-we-doing-section {
    display: block;
    padding-bottom: 120px;
  }
  .what-are-we-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; /* 40/36 */
    color: var(--dark-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
  }
  .what-are-we-doing-examples-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .what-are-we-doing-examples:not(:last-child) {
    margin-right: 24px;
  }
}
/* our-team */
@media screen and (max-width: 768px) {
  .our-team-section {
    padding-top: 96px;
    padding-bottom: 128px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-section {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-section {
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    justify-content: center;
  }
}
.our-team-section {
  background-color: var(--light-color);
}
.team-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  column-gap: 24px;
}
.team-member-text {
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);

  transition: background-color var(--transition-250);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}
.social-list-icon {
  width: 16px;
  height: 16px;
  fill: var(--light-color);
}

/* Customers */
@media screen and (max-width: 768px) {
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .customer-icon {
    width: 190px;
    height: 88px;
    padding: 16px 40px 16px 40px;
  }
  .portfolio-list {
    gap: 48px;
  }
}

@media screen and (min-width: 768px) {
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-container {
    width: 582px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .customer-icon {
    width: 160px;
    height: 88px;
    padding: 16px 32px 16px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-container {
    width: 1158px;
  }
  .customers-list {
    display: flex;
    justify-content: space-between;
  }
}

.customer-link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-icon {
  /* width: 168px;
  height: 88px;
  padding: 16px 32px 16px 32px; */
  fill: #afb1b8;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;

  transition: fill var(--transition-250), border-color var(--transition-250);
}
.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
/* PORTFOLIO */

@media screen and (max-width: 768px) {
  .portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .filter-buttons-list {
    margin-bottom: 48px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: 356px;
    /* height: 400; */
  }
}
@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .filter-buttons-list {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    column-gap: 24px;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .filter-buttons-list {
    margin-bottom: 72px;
  }
  .portfolio-list {
    row-gap: 48px;
  }
}
.portfolio {
  background-color: var(--white-color);
}
/* .portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
} */
/* Buttons */

.filter-button {
  border: 0;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;

  transition: color var(--transition-250),
    background-color var(--transition-250), box-shadow var(--transition-250),
    border-radius var(--transition-250), border var(--transition-250);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid var(--pressed-state-color);
}
/* Results */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio-list-item {
  background: var(--white-color);
  transition: box-shadow var(--transition-250);
  max-width: 356px;
  max-height: 400;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-text {
  padding-top: 32px;
  /* border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color); */
  background-color: #fff;
  /* height: 100px; */
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* 24/20 */
  color: var(--dark-color);
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  color: var(--text-color);
}
.img-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate(0, 100%);
  transition: transform var(--transition-250);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-brand-color);
}
.portfolio-item-link:hover .overlay,
.portfolio-item-link:focus .overlay {
  transform: translate(0, 0);
}
/* MODAL WINDOW */
@media screen and (max-width: 440px) {
  .modal {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 24px;

    transform: translate(-50%, -50%) scale(0.9);
  }

  .modal-proposal {
    margin-top: 52px;
    margin-bottom: 12px;
  }
  .mobal-close-btn {
    width: 32px;
    height: 32px;
  }
  .sign-up-form {
    padding-left: 0;
    padding-right: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
  }
  .sign-up-labels {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--subtle-text-color);
  }
  .sign-up-inputs {
    width: 280px;
    height: 30px;
  }
  .sign-up-comment {
    width: 280px;
    height: 80px;
  }
  .checkbox-label {
    width: 280px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 4px;
  }
  .sign-up-button {
    padding: auto;
    width: 120px;
    height: 40px;
  }
}
@media screen and (min-width: 440px) {
  .modal {
    width: 392px;
    position: absolute;
    top: 50%;
    left: 50%;

    padding-bottom: 24px;

    transform: scale(1) translate(-50%, -50%);
  }
  .mobal-close-btn {
    width: 24px;
    height: 24px;
  }

  .modal-proposal {
    margin-top: 72px;
    margin-bottom: 16px;
  }
  .sign-up-form {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sign-up-inputs {
    width: 360px;
    height: 40px;
  }
  .sign-up-comment {
    width: 360px;
    height: 120px;
  }
  .checkbox-label {
    width: 360px;
    height: 16px;
  }
  .sign-up-button {
    padding: 16px 32px;
    width: 169px;
    height: 56px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-250), visibility var(--transition-250),
    scale var(--transition-250);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  animation: animate-closing 900ms 1 90ms;
  scale: 1.3;
}
.modal {
  position: absolute;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.mobal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;

  transition: background-color var(--transition-250),
    border-color var(--transition-250);
}
.mobal-close-btn-icon {
  fill: #000;
  width: 24px;
  height: 24px;
  padding: 8px 8px 8px 8px;

  transition: fill var(--transition-250);
}
.mobal-close-btn:hover,
.mobal-close-btn:focus {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  cursor: pointer;
}
.mobal-close-btn-icon:hover,
.mobal-close-btn-icon:focus {
  fill: var(--white-color);
}
.modal-proposal {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.modal-proposal {
  margin-top: 72px;
  margin-bottom: 16px;
}
.sign-up-form {
  padding-left: 24px;
  padding-right: 24px;
}
/* .sign-up-inputs {
  width: 360px;
  height: 40px;
} */
/* .sign-up-comment {
  width: 360px;
  height: 120px;
} */
/* .checkbox-label {
  width: 360px;
  height: 16px;
} */
/* .sign-up-button {
  padding: 16px 32px;
  width: 169px;
  height: 56px;
} */
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.sign-up-labels {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--subtle-text-color);
}
.sign-up-labels:not(:first-child) {
  margin-top: 8px;
}
.sign-up-input-wrapper {
  position: relative;
}
.sign-up-inputs {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: none;
  transition: border var(--transition-250);
}
.sign-up-inputs:hover,
.sign-up-inputs:focus {
  border: 1px solid var(--primary-brand-color);
}
.sign-up-inputs-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark-color);
  width: 18px;
  height: 24px;
  transition: fill var(--transition-250);
}
.sign-up-inputs-icons:first-child {
  width: 18px;
  height: 18px;
}
.sign-up-inputs:hover + .sign-up-inputs-icons,
.sign-up-inputs:focus + .sign-up-inputs-icons {
  fill: var(--primary-brand-color);
}

.sign-up-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px 8px 16px;
  outline: none;
  transition: border var(--transition-250);
}
.sign-up-comment:hover,
.sign-up-comment:focus {
  border: 1px solid var(--primary-brand-color);
}
.sign-up-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-label {
  margin-top: 16px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #757575;
  letter-spacing: 0.04em;
}
.privat-policy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--primary-brand-color);
}

.sign-up-button {
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--white-color);
  border-color: transparent;
  cursor: pointer;
  transition: background-color var(--transition-250);
}
.sign-up-button:hover,
.sign-up-button:focus {
  background-color: var(--pressed-state-color);
}
.checkbox-border {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  transition: background var(--transition-250), border var(--transition-250);
}
.checkbox-icon {
  width: 100%;
  height: 100%;
  padding: 3px 2px 3px 2px;
  visibility: hidden;
  fill: var(--light-color);
}
.checkbox:checked + .checkbox-label .checkbox-icon {
  /* padding: 0; */
  visibility: visible;
}
.checkbox:checked + .checkbox-label .checkbox-border {
  background: var(--pressed-state-color);
  border: 1.25px solid var(--pressed-state-color);
}
