@import url(../styles/root.css);

header {
  border-bottom: 1px solid var(--accent-color);
}

/* HEADER */
.container {
  box-sizing: border-box;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .navigation-link {
    padding-top: 24px;
    padding-bottom: 22px;
  }
  .navigation > .logo {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  .adress-list {
    padding-top: 23px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation-link {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
  }
}

@media screen and (min-width: 1200px) {
  .adress-item:not(:last-child) {
    margin-right: 40px;
  }
  .adress-item {
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .adress-list {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
  }
  .navigation-link {
    padding-top: 24px;
    padding-bottom: 28px;

    position: relative;
  }
  .adress-link {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  margin-left: 76px;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.navigation-link {
  position: relative;
}

.navigation-link:not(:last-child) {
  margin-right: 40px;
}

.adress-list {
  display: flex;
  align-items: center;
}

.link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color var(--transition-250);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--pressed-state-color);
}

.current-page::after {
  content: "";
  color: var(--pressed-state-color);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: var(--pressed-state-color);
  border-radius: 2px;
}
.current-page {
  color: var(--pressed-state-color);
}
.navigation > .logo {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33; /* 24/18 */
  text-decoration: none;
  color: var(--dark-color);
}
.logo-first-part {
  color: var(--primary-brand-color);
}

.adress-link {
  color: var(--text-color);
  transition: color var(--transition-250);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--primary-brand-color);
}
